.carousel-cell {
  height: 708px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  @media (max-width: $mobile) {
    height: 320px;
  }
}
.flickity-page-dots {
  bottom: 20px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}