.carousel-cell {
  height: 708px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  @media (max-width: $mobile) {
    height: 320px;
  }
}
.flickity-page-dots {
  bottom: 0px;
}
