.menu{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      border-right: 1px solid $color-black-medium;
      padding: 0 20px;
    }
  }
  height: 60px;
  background-color: $color-default;
  border-bottom: 1px solid $color-purple;
  line-height: 60px;
  font-weight: 700;
  color: $color-purple;
  position: relative;
  text-align: center;
  &--center{
    // align-items: stretch;
    // display: flex;
    // flex-grow: 0;
    // flex-shrink: 0;
    // justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
    font-size: $text--size-medium--small;
  }
  &--right{
    float: right;
    &-inscription{
      float: left;
    }
    &-dashboard{
      float: left;
    }
    &-initiative{
      float: left;
    }
    @media (max-width: $mobile){
      display: none;
      
    }
  }
  &--left{
    float: left;
    span{
      @media (max-width: $mobile){
        display: none;
      }
    }
  }
}
.dropdown{ position: relative; }
.dropdown-content {
  a{
    display: block;
    transition: all 0.45s;
    &:hover{
      background-color: $color-turquoise;
    }
  }

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 187px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
