.menu{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      border-right: 1px solid $color-purple;
    }
  }
  height: 60px;
  background-color: $color-default;
  border-bottom: 1px solid $color-purple;
  line-height: 60px;
  font-weight: 700;
  color: $color-purple;

  text-align: center;
  &--center{
  }
  &--right{
    &-dashboard{
      width: 113px;
    }
    &-inscription{
      width: 113px;
    }
    &-initiative{
      width: 220px;
    }
    float: right;
    display: flex;
  }
  &--left{
    float: left;
    width: 134px;
  }
}
.dropdown{ position: relative; }
.dropdown-content {
  a{
    display: block;
    transition: all 0.45s;
    &:hover{
      background-color: $color-turquoise;
    }
  }

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 187px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
