$text--size-smallest: 12px;
$text--size-small: 14px;
$text--size-default: 16px;
$text--size-medium--small: 18px;
$text--size-medium: 24px;
$text--size-medium--large: 28px;
$text--size-large: 34px;
$text--size-larger: 44px;
$text--size-extra-large: 48px;
