@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Comfortaa", Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

h2 {
  color: #f6828c;
  font-size: 24px; }

.menu {
  height: 60px;
  background-color: #fcf7f8;
  border-bottom: 1px solid #7f6d9b;
  line-height: 60px;
  font-weight: 700;
  color: #7f6d9b;
  text-align: center; }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .menu ul li {
      border-right: 1px solid #7f6d9b; }
  .menu--right {
    float: right;
    display: flex; }
    .menu--right-dashboard {
      width: 113px; }
    .menu--right-initiative {
      background-color: #b3e5e1;
      width: 220px; }
  .menu--left {
    float: left;
    width: 134px; }

.dropdown {
  position: relative; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 187px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    display: block;
    transition: all 0.45s; }
    .dropdown-content a:hover {
      background-color: #b3e5e1; }

.dropdown:hover .dropdown-content {
  display: block; }
