@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -ms-overflow-x: hidden;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Comfortaa", Helvetica, sans-serif; }

h2 {
  color: #f6828c;
  font-size: 24px; }
